<div class="row m-5">
  <div class="col">
    <button class="btn btn-primary d-flex justify-content-center w-100" (click)="open(mentalModal)">
      <span>Doenças Mentais</span>
    </button>
  </div>
  <div class="col">
    <button class="btn btn-primary d-flex justify-content-center w-100" (click)="open(cabecasModal)">
      <span>Doenças na Cabeça</span>
    </button>
  </div>
  <div class="col">
    <button class="btn btn-primary d-flex justify-content-center w-100" (click)="open(frontaisModal)">
      <span>Doenças frontais</span>
    </button>
  </div>
  <div class="col">
    <button class="btn btn-primary d-flex justify-content-center w-100" (click)="open(extremidadesModal)">
      <span>Doenças nas extremidades</span>
    </button>
  </div>
  <div class="col">
    <button class="btn btn-primary d-flex justify-content-center w-100" (click)="open(corpoTodosModal)">
      <span>Doenças na Cabeça</span>
    </button>
  </div>
</div>

<ng-template #mentalModal let-modal>
  <div class="modal-header mt-2">
    <h5 >Doenças Mentais</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      X
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div *ngFor="let subskill of mentais">
        <div class="col">
          <mat-checkbox [(ngModel)]="subskill.completed"
                      (change)="updateAllComplete(subskill, 1)">
            {{subskill.nome}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cabecasModal let-modal>
  <div class="modal-header mt-2">
    <h5 >Doenças na Cabeça</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      X
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div *ngFor="let subskill of cabecas">
        <div class="col">
          <mat-checkbox [(ngModel)]="subskill.completed"
                      (change)="updateAllComplete(subskill, 2)">
            {{subskill.nome}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #frontaisModal let-modal>
  <div class="modal-header mt-2">
    <h5 >Doenças frontais</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      X
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div *ngFor="let subskill of frontais">
        <div class="col">
          <mat-checkbox [(ngModel)]="subskill.completed"
                      (change)="updateAllComplete(subskill, 3)">
            {{subskill.nome}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #extremidadesModal let-modal>
  <div class="modal-header mt-2">
    <h5 >Doenças nas extremidades</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      X
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div *ngFor="let subskill of extremidades">
        <div class="col">
          <mat-checkbox [(ngModel)]="subskill.completed"
                      (change)="updateAllComplete(subskill, 4)">
            {{subskill.nome}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #corpoTodosModal let-modal>
  <div class="modal-header mt-2">
    <h5 >Doenças na Cabeça</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      X
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div *ngFor="let subskill of corpoTodos">
        <div class="col">
          <mat-checkbox [(ngModel)]="subskill.completed"
                      (change)="updateAllComplete(subskill, 5)">
            {{subskill.nome}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #resultado let-modal>
  <div class="modal-header mt-2">
    <h5 >Resultado</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      X
    </button>
  </div>

  <div class="modal-body">
    <div class=" d-flex justify-content-center align-items-center w-100" style="background-color: green; color: black; border-radius: 70px;">
        <h2>Hepatitis B 58.63%</h2>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center w-100 mt-2" style="background-color: blue; color: black; border-radius: 70px;">
        <h4>AIDS 41.36%</h4>
      </div>
      <div class="col d-flex justify-content-center align-items-center w-100 pt-2 mt-3" style="background-color: red; color: black; border-radius: 70px;">
        <h5>Psoriasis 3.10%</h5>
      </div>
  </div>
  </div>
</ng-template>
