<form [formGroup]="form" class="form-container">

  <ng-container formArrayName="sintomas">


    <ng-container *ngFor="let _ of sintomas.controls; let idx = index" [formGroupName]="idx">

      <div class="form-inline mb-1">

        <!-- <input class="form-control" formControlName="name"> -->
        <select class="form-control" formControlName="name" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <button class="btn btn-primary btn-sm ml-1" (click)="removeSintomas(idx)">x</button>


      </div>

    </ng-container>


  </ng-container>

  <button class="bn btn-primary" (click)="addSintomas()">Add new</button>

</form>



<pre>
  {{form.value | json}}
</pre>
